.notFound {
         
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
 
}
.notFound h1 {
    font-size: 8rem; 
    color:rgb(75 85 99 )  
}
.notFound p {
    font-size: 1.875rem;
    line-height: 2.25rem;
}