<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand text-primary-emphasis" href="/">Product App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
      <div class="d-flex" role="search">
        
       <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/add-Product" routerLinkActive="active-link ">add product</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/app-register" routerLinkActive="active-link">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/app-login" routerLinkActive="active-link ">Login</a>
        </li>

      

        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/app-product-counter" routerLinkActive="active-link "><i class="fa-solid fa-cart-plus"></i></a>
        </li>
        </ul>
      </div>
    </div>
 </nav>