
<h2>Products:</h2>
<div>
@if(cart.length > 0){
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
     <tbody>
    @for(product of cart ;track product.id ){
      <tr>
      <td>
        <img [src]="product.images" alt="Product Image" class="img-fluid" style="width: 100px;">
      </td>

      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="decreaseCounter(product.id)">-</button>
        <span class="mx-2">{{ cartItems[product.id] || 1 }}</span>
        <button class="btn btn-success btn-sm" (click)="increaseCounter(product.id)">+</button>
      </td>
      <td>{{ product.price * (cartItems[product.id] || 1) }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="removeProduct(product.id)">Remove</button>
      </td>
    </tr>
  }
  </tbody>
  
  
</table>
}
<h3 class="text-end">Grand Total: {{ getTotalCartPrice() }}</h3>
</div>


<ng-template #noProductMessage>
  <p class="alert alert-warning">No Products in Cart.</p>
</ng-template>

 