  <div class="taskOP">
<div *ngIf="tasks.length === 0">
    <div class="task-container">
      <p>Let's get some work done 💪</p>
      <span class="line"></span>
    </div>
  </div>
  
  <div *ngIf="tasks.length > 0">
    <div class="task-container">
      <div *ngFor="let task of tasks; let i = index" class="task info" [ngClass]="{'completed': task.completed}">
        <p>{{ task.text }}</p>
        <button (click)="deleteTask(i)" class="btn btn-outline-info h-25 rounded-3">Delete</button>
        <button (click)="completeTask(i)" class="btn btn-outline-info h-25 rounded-3">Complete</button>
      </div> 
   
    </div>
  </div>

  </div>